<div class="row">

  <div *ngIf="anyErrors">
    <p class="bg-danger">{{anyErrors.error}}</p>
  </div>

  <h2 class="bg-success" *ngIf="league">{{ league.leagueCaption }}</h2>

  <div class="col-md-5" *ngIf="league">
      <table class="table table-hover table-bordered table-team">
        <thead>
        <tr>
          <td>#</td>
          <td>logo</td>
          <td>team</td>
          <td>points</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of league.standing" class="tr-team" (click)="onGetPlayers(team)">
          <td>{{team.position}}</td>
          <td><img src="{{team.crestURI}}" alt="" class="img-logo"/></td>
          <td>{{team.teamName}}</td>
          <td>{{team.points}}</td>
        </tr>
        </tbody>
      </table>
  </div>

  <div class="col-md-7">
    <rb-leagueplayers [players]="players" [team]="team"></rb-leagueplayers>
  </div>
</div>




